@import "tailwindcss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.striped-bg {
  background-image: repeating-linear-gradient(
    45deg,
    #e5e7eb,
    #e5e7eb 10px,
    #f3f4f6 10px,
    #f3f4f6 20px
  ) !important;
}
